*.csv
milano-grid.geojson
__pycache__
*.log
activity_alerts_*.json
*.parquet
*.crc
cleaner_spark_test.py
_SUCCESS
flow/airflow_venv/
airflow.cfg
airflow.db
standalone_admin_password.txt
flow/airflow_home/webserver_config.py
/readme
inspect_data.py


