*.csv
milano-grid.geojson
__pycache__
*.log
activity_alerts_*.json
*.parquet
*.crc
cleaner_spark_test.py
_SUCCESS
flow/airflow_venv/
airflow.cfg
airflow.db
standalone_admin_password.txt
flow/airflow_home/webserver_config.py
/readme
inspect_data.py
flow/airflow_home/airflow-webserver.pid
flow/logs/audit_log.json
flow/airflow_home/logs
/backend-v1
/noc-telemetry-dashboard
.env
.env.*  
claude_bot


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
 
node_modules
dist
dist-ssr
*.local
 
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.joblib

backend/chat_history.json
